@model Dictionary<WaveAccountingIntegration.Models.Customer, WaveAccountingIntegration.Models.Transaction_History>

@{
	Layout = null;

	var entry = Model.First();

	List<WaveAccountingIntegration.Models.Tennant> tenants = ViewBag.Tenants;

	WaveAccountingIntegration.Models.AppSettings.Address address = ViewBag.address;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<link href="/Content/forms/3DayLate/base.min.css" rel="stylesheet">
	<link href="/Content/forms/3DayLate/fancy.min.css" rel="stylesheet">
	<link href="/Content/forms/3DayLate/main.css" rel="stylesheet">
	<script src="/Content/forms/3DayLate/compatibility.min.js">
	</script>
	<script src="/Content/forms/3DayLate/theViewer.min.js">
	</script>
	<script>
		try{
			theViewer.defaultViewer = new theViewer.Viewer({});
		}catch(e){}
	</script>
	<title></title>
</head>
<body>
<div id="sidebar">
	<div id="outline"></div>
</div>
<div id="page-container">
@foreach(var t in tenants)
{
<div class="pf w0 h0" data-page-no="1" id="pf1">
	<div class="pc pc1 w0 h0">
		<img alt="" class="bi x0 y0 w0 h0" src="/Content/forms/3DayLate/bg1.png">
		<div class="t m0 x3 h3 y3 ff3 fs1 fc1 sc0 ls0 ws0">
			THREE DAY<span class="_ _0"></span> NOTICE TO PAY<span class="_ _0"></span> OR TO VAC<span class="_ _0"></span>ATE
		</div>
		<div class="t m0 x4 h4 y4 ff4 fs2 fc1 sc0 ls0 ws0">
			This Notice is given to: <span class="_ _2"></span>This Notice is given by:
		</div>
		<div class="t m0 x5 h5 y5 fs2 fc1 sc0 ls0 ws0">
			@t.FullName
		</div>
		<div class="t m0 x5 h5 y6 fs2 fc1 sc0 ls0 ws0">
			@address.Address1
		</div>
		<div class="t m0 x5 h5 y7 fs2 fc1 sc0 ls0 ws0">
			@address.City, @address.State @address.ZipCode
		</div>
		<div class="t m0 x6 h5 y5 ff5 fs2 fc1 sc0 ls0 ws0">
			Todor Peykov
		</div>
		<div class="t m0 x6 h5 y6 ff5 fs2 fc1 sc0 ls0 ws0">
			PO BOX 271157
		</div>
		<div class="t m0 x6 h5 y7 ff5 fs2 fc1 sc0 ls0 ws0">
			Salt Lake City, UT 84127-
		</div>
		<div class="t m0 x4 h5 y8 ff5 fs2 fc1 sc0 ls0 ws0">
			You are behind in your payments required by your rental agreem<span class="_ _0"></span>ent with your land<span class="_ _1"></span>lord.
		</div>
		<div class="t m0 x4 h5 y9 ff5 fs2 fc1 sc0 ls0 ws0">
			You are required to either pay ever<span class="_ _0"></span>ything you owe as in<span class="_ _1"></span>dicated below, or move<span class="_ _0"></span> out with<span class="_ _1"></span>in
		</div>
		<div class="t m0 x4 h5 ya ff5 fs2 fc1 sc0 ls0 ws0">
			three calendar days.
		</div>
		<div class="t m0 x4 h4 yb ff4 fs2 fc1 sc0 ls0 ws0">
			1. Within <span class="ff5">three calendar days</span> you must pay the entire amount of money that is now owing to
		</div>
		<div class="t m0 x4 h4 yc ff4 fs2 fc1 sc0 ls0 ws0">
			your landlord for rent. The total amount due is $@entry.Value.ending_balance. Rent is due for the following time
		</div>
		<div class="t m0 x4 h4 yd ff4 fs2 fc1 sc0 ls0 ws0">
			period(s):
		</div>
		<div class="t m0 x5 h5 ye ff5 fs2 fc1 sc0 ls0 ws0">
			Unpaid/Short paid rent from @entry.Value.events.Where(x => x.event_type == "invoice" && x.invoice.invoice_amount_due > 0).OrderBy(x => x.date).FirstOrDefault().date.Value.ToUSADateFormat() up to and including @DateTime.Today.GetEndOfTheMonth().ToUSADateFormat()
		</div>
		<div class="t m0 x5 h5 yf ff5 fs2 fc1 sc0 ls0 ws0">
			___________________________________________________________________________
		</div>
		<div class="t m0 x5 h5 y10 ff5 fs2 fc1 sc0 ls0 ws0">
			___________________________________________________________________________
		</div>
		<div class="t m0 x5 h5 y11 ff5 fs2 fc1 sc0 ls0 ws0">
			___________________________________________________________________________
		</div>
		<div class="t m0 x5 h5 y12 ff5 fs2 fc1 sc0 ls0 ws0">
			___________________________________________________________________________
		</div>
		<div class="t m0 x4 h4 y13 ff4 fs2 fc1 sc0 ls0 ws0">
			2. Within <span class="ff5">three calendar days</span> you must pay the entire amount of money that is now owing to
		</div>
		<div class="t m0 x4 h4 y14 ff4 fs2 fc1 sc0 ls0 ws0">
			your landlord for amounts due under the rental contract other than rent. The total amount due is
		</div>
		<div class="t m0 x4 h4 y15 ff5 fs2 fc1 sc0 ls0 ws0">
			$0<span class="ff4">. The amounts due other than rent are as follows:</span>
		</div>
		<div class="t m0 x5 h4 y16 ff5 fs2 fc1 sc0 ls0 ws0">
			None<span class="ff4">.</span>
		</div>
		<div class="t m0 x4 h4 y17 ff4 fs2 fc1 sc0 ls0 ws0">
			3. If you do not pay all of the money you owe within <span class="ff5">three calendar days, counting weekends</span>
		</div>
		<div class="t m0 x4 h4 y18 ff5 fs2 fc1 sc0 ls0 ws0">
			and holidays, <span class="ff4">y<span class="_ _0"></span>ou must vacate the pre<span class="_ _0"></span>mises you ha<span class="_ _0"></span>ve rented.</span>
		</div>
		<div class="t m0 x4 h4 y19 ff4 fs2 fc1 sc0 ls0 ws0">
			If you do not comply with this notice, you will be served with a Summons and Complaint for
		</div>
		<div class="t m0 x4 h4 y1a ff4 fs2 fc1 sc0 ls0 ws0">
			unlawful detainer. Unlawful detainer is when you remain in possession of rental property after
		</div>
		<div class="t m0 x4 h4 y1b ff4 fs2 fc1 sc0 ls0 ws0">
			the owner serves you with a lawful notice to leave, such as this eviction notice. If you are found
		</div>
		<div class="t m0 x4 h4 y1c ff4 fs2 fc1 sc0 ls0 ws0">
			by the court to be in unlawful detainer, you will be evicted by the court and you will be liable for:
		</div>
		<div class="t m0 x5 h4 y1d ff4 fs2 fc1 sc0 ls0 ws0">
			a. any rent due and unpaid through the end of your rental agreement, less any amounts the
		</div>
		<div class="t m0 x7 h4 y1e ff4 fs2 fc1 sc0 ls0 ws0">
			landlord receives from the next tenant;
		</div>
		<div class="t m0 x5 h4 y1f ff4 fs2 fc1 sc0 ls0 ws0">
			b. damages ca<span class="_ _0"></span>used by<span class="_ _0"></span> y<span class="_ _0"></span>our unlawful detainer<span class="_ _0"></span> of the rental property<span class="_ _3"></span>;
		</div>
		<div class="t m0 x5 h4 y20 ff4 fs2 fc1 sc0 ls0 ws0">
			c. damages for<span class="_ _0"></span> any<span class="_ _0"></span> waste of the r<span class="_ _0"></span>ental property<span class="_ _0"></span> caused by<span class="_ _0"></span> y<span class="_ _3"></span>ou, if and only<span class="_ _0"></span> if the landlord
		</div>
		<div class="t m0 x7 h4 y21 ff4 fs2 fc1 sc0 ls0 ws0">
			alleges them in a court complaint and proves them at trial, or submits them to the court by
		</div>
		<div class="t m0 x7 h4 y22 ff4 fs2 fc1 sc0 ls0 ws0">
			affidavit in the event of your default (Waste is damage you cause beyond normal wear and
		</div>
		<div class="t m0 x7 h4 y23 ff4 fs2 fc1 sc0 ls0 ws0">
			tear.);
		</div>
		<div class="t m0 x5 h4 y24 ff4 fs2 fc1 sc0 ls0 ws0">
			d. damages as provide<span class="_ _0"></span>d in Utah Code 78B-6-1107 throug<span class="_ _0"></span>h 1114 for the abatement of
		</div>
		<div class="t m0 x7 h4 y25 ff4 fs2 fc1 sc0 ls0 ws0">
			nuisance, if any, caused by you. (Abatement of nuisance means to stop a nuisance.);
		</div>
		<div class="t m0 x5 h4 y26 ff4 fs2 fc1 sc0 ls0 ws0">
			e. attorney<span class="_ _0"></span>s fe<span class="_ _0"></span>es and court costs.
		</div>
		<div class="t m0 x4 h4 y27 ff4 fs2 fc1 sc0 ls0 ws0">
			You will also be liable for three<span class="_ _0"></span> times those damages allowed to be tre<span class="_ _0"></span>bled under Utah Code
		</div>
		<div class="t m0 x4 h4 y28 ff4 fs2 fc1 sc0 ls0 ws0">
			78B-6-811 which specifically may include trebling all of those damages mentioned above except
		</div>
		<div class="t m0 x4 h1 y29 ff6 fs3 fc1 sc0 ls0 ws0">
			@DateTime.Now.ToUSADateFormat()<span class="_ _1"></span> <span class="_ _4"></span>Three Day Notice to Pay or to Vacate <span class="_ _5"></span>Page <span class="ff1 fs0">1</span>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
<div class="pf w0 h0" data-page-no="2" id="pf2">
	<div class="pc pc2 w0 h0">
		<img alt="" class="bi x0 y0 w0 h0" src="/Content/forms/3DayLate/bg2.png">
		<div class="t m0 x1 h1 y1 ff1 fs0 fc0 sc0 ls0 ws0">
			<span class="_ _0"></span><span class="_ _1"></span>
		</div>
		<div class="t m0 x4 h4 y2a ff4 fs2 fc1 sc0 ls0 ws0">
			attorney<span class="_ _0"></span>s fee<span class="_ _0"></span>s and court costs. Damage<span class="_ _0"></span>s under (b) are the r<span class="_ _0"></span>easonable rental value or r<span class="_ _0"></span>easonable
		</div>
		<div class="t m0 x4 h4 y2b ff4 fs2 fc1 sc0 ls0 ws0">
			value of the use and occupation of the premises for each day you remain after the expiration of
		</div>
		<div class="t m0 x4 h4 y2c ff4 fs2 fc1 sc0 ls0 ws0">
			this notice. In most cases trebling damages under (b) means the court will times the amount you
		</div>
		<div class="t m0 x4 h4 y2d ff4 fs2 fc1 sc0 ls0 ws0">
			have been pay<span class="_ _3"></span>ing for r<span class="_ _0"></span>ent by<span class="_ _0"></span> three for every<span class="_ _0"></span> da<span class="_ _0"></span>y<span class="_ _0"></span> y<span class="_ _0"></span>ou remain in the property<span class="_ _0"></span> a<span class="_ _0"></span>fter the last day<span class="_ _0"></span> y<span class="_ _0"></span>ou
		</div>
		<div class="t m0 x4 h4 y2e ff4 fs2 fc1 sc0 ls0 ws0">
			were given to leave under this eviction notice. Please contact your landlord to discuss this
		</div>
		<div class="t m0 x4 h4 y2f ff4 fs2 fc1 sc0 ls0 ws0">
			situation.
		</div>
		<div class="t m0 x8 h4 y30 ff4 fs2 fc1 sc0 ls0 ws0">
			Date @DateTime.Now.ToUSADateFormat() <span class="_ _6"></span>Sign here <img src="~/Content/Images/tp_sig.png"/> /s/ Todor Peykov
		</div>
		<div class="t m0 x9 h5 y31 ff5 fs2 fc1 sc0 ls0 ws0">

		</div>
		<div class="t m0 xa h5 y32 ff5 fs2 fc1 sc0 ls0 ws0">
			RETURN OF SERVICE
		</div>
		<div class="t m0 x4 h4 y33 ff4 fs2 fc1 sc0 ls0 ws0">
			This Notice was served upon <span>@t.FullName</span>, on @DateTime.Now.ToUSADateFormat() <span class="ff7 fs0">(date)</span> in the following
		</div>
		<div class="t m0 x4 h4 y34 ff4 fs2 fc1 sc0 ls0 ws0">
			manner:
		</div>
		<div class="t m0 x4 h5 y35 ff5 fs2 fc1 sc0 ls0 ws0">
			(Please chec<span class="_ _0"></span>k the appropriate boxes.)
		</div>
		<div class="t m0 x4 h4 y36 ff2 fs0 fc1 sc0 ls0 ws0">
			[X] <span class="ff1"><span class="ff4 fs2">A copy<span class="_ _0"></span> was deliver<span class="_ _0"></span>ed to the tenant personally<span class="_ _0"></span>.</span></span>
		</div>
		<div class="t m0 x4 h4 y37 ff2 fs0 fc1 sc0 ls0 ws0">
			[_] <span class="ff1"><span class="ff4 fs2">A copy was sent through certified or registered mail to the tenant <span class="_ _7"></span>s address.</span></span>
		</div>
		<div class="t m0 x4 h4 y38 ff2 fs0 fc1 sc0 ls0 ws0">
			[X] <span class="ff1"><span class="ff4 fs2">A copy<span class="_ _0"></span> was posted in a c<span class="_ _0"></span>onspicuous place on the premises, as no one was<span class="_ _0"></span> home.</span></span>
		</div>
		<div class="t m0 x4 h4 y39 ff2 fs0 fc1 sc0 ls0 ws0">
			[_] <span class="ff1"><span class="ff4 fs2">A copy<span class="_ _0"></span> was left with __________________ a pe<span class="_ _0"></span>rson of suitable age a<span class="_ _0"></span>nd discretion at:</span></span>
		</div>
		<div class="t m0 x8 h4 y3a ff2 fs0 fc1 sc0 ls0 ws0">
			[_] <span class="ff1"><span class="ff4 fs2">tenant <span class="_ _7"></span>s residence or</span></span>
		</div>
		<div class="t m0 x8 h4 y3b ff2 fs0 fc1 sc0 ls0 ws0">
			[_] <span class="ff1"><span class="ff4 fs2">tenant&apos;s place of business</span></span>
		</div>
		<div class="t m0 x8 h4 y3c ff4 fs2 fc1 sc0 ls0 ws0">
			AND a second copy<span class="_ _0"></span> w<span class="_ _0"></span>as mailed to
		</div>
		<div class="t m0 xb h4 y3d ff2 fs0 fc1 sc0 ls0 ws0">
			[_] <span class="ff1"><span class="ff4 fs2">tenant <span class="_ _7"></span>s residence or</span></span>
		</div>
		<div class="t m0 xb h4 y3e ff2 fs0 fc1 sc0 ls0 ws0">
			[_] <span class="ff1"><span class="ff4 fs2">place of business.</span></span>
		</div>
		<div class="t m0 xc h4 y3f ff4 fs2 fc1 sc0 ls0 ws0">
			Sign here <img src="~/Content/Images/tp_sig.png"/> /s/ Todor Peykov
		</div>
		<div class="t m0 xd h4 y40 ff4 fs2 fc1 sc0 ls0 ws0">

		</div>
		<div class="t m0 x4 h1 y29 fs3 fc1 sc0 ls0 ws0">
			@DateTime.Now.ToUSADateFormat()<span class="_ _1"></span> <span class="_ _4"></span>Three Day Notice to Pay or to Vacate <span class="_ _5"></span>Page <span class="ff1 fs0">2</span>
		</div>
	</div>
	<div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
</div>
}
</div>
<div class="loading-indicator"></div>
</body>
</html>